.page-levels-index
  %h3 设置级别 
  %table.table.table-striped.table-bordered
    %caption 级别清单
    %a{:role=>"button",class: "btn btn-primary",:href=>"/levels/new"}创建级别
    %thead
      %tr
        %th 级别编号
        %th 级别名
        %th 操作
    %tbody
      - if @levels.blank?
        %tr
          %td{colspan: 3} 没有数据
      - @levels.each do |level|
        %tr
          %td.number= level.number
          %td= level.name
          %td
            .btn-group.btn-group-sm
              %a.btn.btn-default{href: "/levels/#{level.id}/edit"}
                %i.glyphicon.glyphicon-pencil
                %span 修改
              %a.btn.btn-default{href: "/levels/#{level.id}", data: {confirm: "确认删除吗?", method: :delete}} 
                %i.glyphicon.glyphicon-trash
                %span 删除