.bank-train-home.demo
  .links
    %a.link{href: 'javascript:;'}
      %span 业务对应关系
    %a.link{href: 'javascript:;'}
      %span 学习内容引导
    %a.link{href: 'javascript:;'}
      %span 业务操作课件

