.page-business-operations-index
  %h3 设置业务操作

  .business-operations-tree
    .tree-name 业务操作目录树
    %ul.operations
      - operation_tree_node_json
      / - @root_operations.each do |operation|
      / - operation_tree_node operation
      / TODO: load slow