.page-business-operations-index
  %h3 设置业务操作

  .business-operations-tree
    .tree-name 业务操作目录树
    %a.btn.btn-primary{:href=>"/business_operations/new"} 创建业务操作
    .tree{:data => {:filter => params[:filter]}}
