.addable-inputer {
  .addable-inputer-ops {
    padding: 15px;
  }
  .addable-inputer-list {
    .addable-inputer-item {
      border-bottom: solid 1px #ddd;
      padding: 15px;
      overflow: hidden;

      .addable-inputer-item-container {
        float: left;
        margin-right: 15px;
      }
      .addable-inputer-remove-btn {
        float: left;
      }
    }
  }
}