.page-calendar {
  .calendar-table {
    margin-top: 100px;

    th.calendar-head {
      background-color: #EBEBEB;

      .to-prev-month {
        float: left;
      }
      .to-next-month {
        float: right;
      }
      .current-month {
        text-align: center;
        margin-left: 100px;
        margin-right: 100px;
        line-height: 33.6px
      }
    }

    tr.weekdays {
      th {
        background-color: #DADADA;
        text-align: center;
        line-height: 50px;
      }
    }

    tbody td {
      height: 50px;
      line-height: 50px;
      background-color: white;
      font-size: 30px;
      text-align: center;
      font-family: arial;
      padding: 0;
    }

    .other-month-day{
      color: #B8B8B8;
    }

    .weekend {
      color: #3298FF;
    }

    .today {
      color: #FF7C7C;
      background-color: #FFE6E6;
    }
  }
}