.demo2-ywdesc
  %h4 业务操作：活期存款开户
  %h4 交易代码：121100
  %h4 场景：个人开户
  %hr
  %h4 业务描述：
  .desc 本交易用于个人活期储蓄账户、个人存折结算账户、个人支票结算账户和单位活期存款账户、同业活期存款账户、活期保证金存款账户、系统内存款帐户、单位财政存款类账户的开立，并生成账号或印鉴卡号。
  %hr
  .h4 注意事项
  %ul
    %li 个人存款账户柜台交易起存金额不得低于1元
    %li 活期存款开户交易不允许做当日取消；通过销户或新建客户信息后账户调整修正；
    %li 若在开户时仅姓名错误，此时不能通过开户交易输入证件类型和证件号码实现重开，通过新建客户信息（117000）交易建立新的客户信息后，再通过客户账户调整(113201)交易处理；



.demo2
  .ywnodes
    .line1
    .line2
    .line3
    .line4
    .line5

    %img.khtx{src: 'http://i.teamkn.com/i/UuDexXFr.png'}
    %img.gytx{src: 'http://i.teamkn.com/i/DtEA0wEP.png'}

    .node.n1.kh
      .name 填写递交并审核开户申请
      .resources
        .r{data: {toggle: :modal, target: '.sfz'}} 身份证
        .r{data: {toggle: :modal, target: '.khsq'}} 开户申请

    .node.n2.gy
      .name 输入开户信息
      .resources
        .r.screen{data: {toggle: :modal, target: '.screen1'}} 输入屏幕1
        .r.screen{data: {toggle: :modal, target: '.screen2'}} 输入屏幕2

    .node.n3.kh
      .name 递交现金
      .resources
        .r{data: {toggle: :modal, target: '.rmb'}} 人民币

    .node.n31.gy
      .name 清点现金，核对金额
      .resources
        .r{data: {toggle: :modal, target: '.dcj'}} 
          %span 点钞机
          %span.glyphicon.glyphicon-facetime-video

    .node.n4.gy
      .name 输入存款信息
      .resources
        .r.screen{data: {toggle: :modal, target: '.screen3'}} 输入屏幕3

    .node.n5.gy
      .name 打印存折，发卡
      .resources
        .r{data: {toggle: :modal, target: '.cz'}} 存折
        .r{data: {toggle: :modal, target: '.jjk'}} 借记卡

    .node.n6.gy
      .name 现金分票入箱
      .resources
        .r{data: {toggle: :modal, target: '.wx'}} 尾箱

    .node.n7.kh
      .name 客户领取存折和卡
      .resources

  .modal.fade.sfz{role: :dialog}
    .modal-dialog
      .modal-content{style: 'text-align:center;'}
        .modal-header
          .model-title 身份证
        .modal-body
          %img{src: 'http://i.teamkn.com/i/frIWKOXM.jpg'}
          %img{src: 'http://i.teamkn.com/i/CjgyR8Fc.jpg'}

  .modal.fade.dcj0{role: :dialog}
    .modal-dialog
      .modal-content{style: 'text-align:center;'}
        .modal-header
          .model-title 点钞机
        .modal-body
          %img{src: 'http://i.teamkn.com/i/wb8UCrU4.png'}

  .modal.fade.dcj{role: :dialog}
    .modal-dialog.modal-lg
      .modal-content{style: 'text-align:center;'}
        .modal-header
          .model-title 点钞机操作视频
        .modal-body
          %video{src: 'http://oss-cn-qingdao.aliyuncs.com/4ye-video/bank/%E6%96%B0%E5%9B%BD%E6%A0%87%E7%82%B9%E9%92%9E%E6%9C%BA_%E6%A0%87%E6%B8%85.mp4?Expires=1541852879&OSSAccessKeyId=Vtb1dpLPK0a77Vu8&Signature=%2B5Is6xtpBmrIB1xf8YZ7o5oKn1k%3D', controls: :controls}

  .modal.fade.khsq{role: :dialog}
    .modal-dialog
      .modal-content{style: 'text-align:center;'}
        .modal-header
          .model-title 开户申请
        .modal-body
          %img{src: 'http://i.teamkn.com/i/Qo1koanv.png?imageMogr2/thumbnail/500x'}

  .modal.fade.jjk{role: :dialog}
    .modal-dialog
      .modal-content{style: 'text-align:center;'}
        .modal-header
          .model-title 借记卡
        .modal-body
          %img{src: 'http://i.teamkn.com/i/FnYydQqw.png'}

  .modal.fade.cz{role: :dialog}
    .modal-dialog
      .modal-content{style: 'text-align:center;'}
        .modal-header
          .model-title 存折
        .modal-body
          %img{src: 'http://i.teamkn.com/i/oDtsuEA2.png'}

  .modal.fade.wx{role: :dialog}
    .modal-dialog
      .modal-content{style: 'text-align:center;'}
        .modal-header
          .model-title 尾箱
        .modal-body
          %img{src: 'http://i.teamkn.com/i/jCKizO6M.png?imageMogr2/thumbnail/!300x300r/gravity/Center/crop/300x300'}

  .modal.fade.rmb{role: :dialog}
    .modal-dialog
      .modal-content{style: 'text-align:center;'}
        .modal-header
          .model-title 人民币
        .modal-body
          %img{src: 'http://i.teamkn.com/i/BKYHGAz0.png?imageMogr2/thumbnail/500x'}

  .modal.fade.screen.screen1{role: :dialog}
    .modal-dialog.modal-lg
      .modal-content{style: 'text-align:center;'}
        %h4 输入屏幕 No.1
        .dscreen.input1
        .show-demo{data: {screen: 'input1'}}
          .btn.btn-success.btn-sm.play
            %span.glyphicon.glyphicon-play
            %span 观看演示
          .btn.btn-default.btn-sm.pause
            %span.glyphicon.glyphicon-pause
            %span 暂停演示
          .btn.btn-default.btn-sm{data: {toggle: :modal, target: '.question-dialog'}} 
            %span.glyphicon.glyphicon-question-sign
            %span 提问

  .modal.fade.screen.screen2{role: :dialog}
    .modal-dialog.modal-lg
      .modal-content{style: 'text-align:center;'}
        %h4 输入屏幕 No.2
        .dscreen.input2
        .show-demo{data: {screen: 'input2'}}
          .btn.btn-success.btn-sm.play
            %span.glyphicon.glyphicon-play
            %span 观看演示
          .btn.btn-default.btn-sm.pause
            %span.glyphicon.glyphicon-pause
            %span 暂停演示
          .btn.btn-default.btn-sm{data: {toggle: :modal, target: '.question-dialog'}} 
            %span.glyphicon.glyphicon-question-sign
            %span 提问

  .modal.fade.screen.screen3{role: :dialog}
    .modal-dialog.modal-lg
      .modal-content{style: 'text-align:center;'}
        %h4 输入屏幕 No.3
        .dscreen.input4
        .show-demo{data: {screen: 'input4'}}
          .btn.btn-success.btn-sm.play
            %span.glyphicon.glyphicon-play
            %span 观看演示
          .btn.btn-default.btn-sm.pause
            %span.glyphicon.glyphicon-pause
            %span 暂停演示
          .btn.btn-default.btn-sm{data: {toggle: :modal, target: '.question-dialog'}} 
            %span.glyphicon.glyphicon-question-sign
            %span 提问

.question-dialog.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %a.close{data: {dismiss: :modal}}
          %span &times;
        %h4 操作提问
      .modal-body
        .desc
        %textarea.form-control{placeholder: '请输入要提问的内容……', rows: 8}
      .modal-footer
        %a.btn.btn-success 确定
        %a.btn.btn-default{data: {dismiss: :modal}} 关闭