.page-business-categories-index
  %h3 设置业务种类

  .business-categories-tree
    .tree-name 业务种类树
    %ul.categories
      - @root_categories.each do |category|
        = render_cell :'bank_train/business_categories', :tree_node, category, self
        / TODO: load slow
    = link_to "创建", "/business_categories/new"